seamount-z/*.nc
seamount-sigma/*.nc
icemount-z-reset/*.nc
icemount-z-surfcorrect/*.nc
icemount-sigma-reset/*.nc
icemount-sigma-surfcorrect/*.nc
icemount*/*.nc
seamount*/*.nc
ice*/*.nc
*/RESTART/*
INPUT/topog*.nc
*/INPUT/*.nc
rho/*.nc
MOM6-examples*/*.nc
*/ocean.stats
*/logfile.000000.out
*/exitcode
*/time_stamp.out
*/CPU_stats
.ipynb_checkpoints/*
plotting-Copy1.ipynb
seamount-z-nkx4/*
INPUT/quadraticSalticemount1Dznkx4.nc
INPUT/quadraticSaltseamountznkx4.nc
icemount-z-reset-nkx4/*
icemount-z-reset-quad-nkx4/*
MOM6-examples-z-noMWIPG/*.nc
MOM6-examples-z/*.nc
z-ISOMIP-quiet/*.nc
*/U_velocity_truncations
*/V_velocity_truncations
*/available_diags.000000
*/MOM_IceShelf.available_diags
z-ISOMIP-quiet/.ipynb_checkpoints/
z-ISOMIP-quiet/INPUT/.DS_Store
z-ISOMIP-quiet/ISOMIP.ipynb
z-ISOMIP-quiet/archive/
z-ISOMIP-quiet/rayleigh-check.ipynb
z-ISOMIP-quiet/saltanomcheck.ipynb

